<launch>
  <arg name="record_chatter" default="false" />  
  <arg name = "rate" default="10" />
  <param name="talker_rate" value="$(arg rate)"/>
		
  <node pkg="beginner_tutorials" name="talker" type="talker"/>
  <node pkg="beginner_tutorials" name="listener" type="listener"/>
  <node pkg="beginner_tutorials" name="server" type="edit_talker_server"/>
  <node pkg="rosbag" type="record" name="rosbag_record_chatter"
       args="record -a -O /home/viki/catkin_ws/src/beginner_tutorials/results/bagfile"
       if="$(arg record_chatter)" />

</launch>
